h1, h2, div {
  font-family: "Playfair Display", serif;
  line-height: 170%;
  margin: 0;
  padding-top: 10px;
}

:host {
  display: block;
  width: 100%;
}

.header {
  text-align: center;
  background: linear-gradient(
    180deg,
    #eda6a6 20%,
    #fbf0e4 100%
  );
  padding: 20px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
