h1, h2, div {
  font-family: "Playfair Display", serif;
  line-height: 170%;
  margin: 0;
  padding-top: 10px;
}

.zavd {
  font-size: large;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.filters {
  border: 2px solid #cd7474;
  background-color: #fff0f0;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}

.button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ffc1c1;
  border: 2px solid #a43838;
  color: #000000;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.35);
  transition: 0.2s;
}
