body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1300px;
  background-color: #fbf0e4;
}

h1, h2, div {
  font-family: "Playfair Display", serif;
  line-height: 170%;
  margin: 0;
  padding-top: 10px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px 0;
  margin: 0;
  border: 2px solid #cd7474;
  background-color: #fff0f0;
}

.menu-link {
  display: inline;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 8px 15px;
  position: relative;
}

.menu a:hover {
  color: #ffc1c1;
}
